@import "board";
@import "messages";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
}

#application {
  display: flex;
}
#game,
#messages {
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  overflow: auto;
}

#game {
  flex: 2;
  background: #ccc;
}

#messages {
  flex: 1;
  background: #efefef;
}
