@import "board";
@import "scorecard";
@import "tools";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#game {
  width: 100vw;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  overflow: auto;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
  
  h1 {
    display: block;
    width: 100%;
    position: absolute;
    top: 3vmin;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: #ccc;
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 3vm;
    font-size: 3vmin;
    text-transform: uppercase;
  }
}
