.board {
  width: 65vm;
  width: 65vmin;
  height: 65vm;
  height: 65vmin;
  position: absolute;
  top: 15vmin;
  left: 50%;
  transform: translate(-50%, 0);

  .square {
    display: block;
    float: left;
    margin: 0;
    width: 33%;
    height: 33%;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-sizing: border-box;

    .square-value {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #333;
    }

    .icon {
      position: absolute;
      width: 50%;
      height: 50%;
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.o {
      .icon {
        &.o {
          display: block;
        }
      }
    }

    &.x {
      .icon {
        &.x {
          display: block;
        }
      }
    }
    &.open {
      cursor: pointer;
      &:hover {
        .icon {
          &.x {
            display: block;
            line {
              stroke: #ccc;
            }
          }
        }    
      }
    }
    

    &:nth-child(3n) {
      border-right: none;
    }

    @for $i from 7 to 10 {
      &:nth-child(#{$i}) {
        border-bottom: none;
      }
    }
  }
}
