.message-title {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0;
}
.message-list {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;

  li {
    padding: 10px 5px;
    font-size: 12px;

    .bot {
      color: #333;
    }

    .system {
      color: #666;
    }
  }
}
