.scorecard {
  position: absolute;
  top: 85vmin;
  left: 50%;
  transform: translate(-50%);

  .score-bot,
  .score-human {
    position: relative;
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-right: 10px;
    text-align: center;

    svg {
      height: 50%;
      width: 50%;
    }
    
    .score {
      color: #999;
    }
  }
}
