.scorecard {
  position: absolute;
  top: 82vmin;
  left: 50%;
  transform: translate(-50%);

  .score-player {
    position: relative;
    display: inline-block;
    height: 10vmin;
    width: 10vmin;
    margin-right: 10px;
    text-align: center;

    svg {
      height: 50%;
      width: 50%;

      line,
      circle {
        stroke-width: 4px;
      }
    }
    
    .score {
      margin-top: 6px;
      color: #999;

      small {
        display: block;
        text-transform: uppercase;
        font-size: 10px;
        color: #aaa;
        margin-top: 3px;
      }
    }
  }
}
