.again {
  position: absolute;
  top: 47%;
  left: 50%;
  padding: 10px 40px;
  color: #fff;
  background: linear-gradient(to bottom, #48d10f 0%, #16cdd6 100%);
  outline: none;
  border: 0;
  transform: translate(-50%, -50%);
  font-size: 3vmin;
  box-shadow: 0px 40px 80px -10px #999;
  cursor: pointer;
  
  &:hover {
    background: linear-gradient(to bottom, #44c30f 0%, #16cdd6 100%);
  }
}

.reset {
  position: absolute;
  right: 30px;
  bottom: 30px;
  padding: 8px 20px;
  color: #666;
  background: linear-gradient(to bottom, #ccc 0%, #ddd 100%);
  outline: none;
  border: 0;
  cursor: pointer;

  &:hover {
    background: linear-gradient(to bottom, #bbb 0%, #ccc 100%);
  }
}

